*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 70px;
    background-color: #FAC5F2;
}

.logo{
    margin-left: 95px;
    padding: 5px;
    top: 3%;
}
.logo2{
    width: 4.5%;
    border-radius: 10px;
    padding: 5px;
}

.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #FAC5F2;
}

.texto{
    position: absolute;
    width: 42%;
    height: 50%;
    left: 12%;
    top: 15%;
    border-radius: 20px;
    border: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #f7e2f4;
}

.texto::placeholder{
    text-align: center;
    color: purple;
}
.texto:focus,
.texto:active{
    border: none;
    outline: none;
}
.terminos{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 65%;
}
.terminos p{
    font-family: "Iner";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    text-align: center;
    width: 70%;
    left: 12%;
    top: 70%;
}
.btn-encriptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 10px;
    width: 25%;
    background-color: rgb(248, 151, 224);
    border: none;
    border-radius: 10px;
    font-family: "Iner";
    font-size: 18px;
    line-height: 10px;
    text-align: center;
    color: rgb(224, 81, 237);
}

.btn-desencriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 10%;
    width: 25%;
    background: rgb(248, 151, 224);
    border: none;
    border-radius: 10px;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 10px;
    text-align: center;
    color: rgb(224, 81, 237);
}

.btn-desencriptar:hover,
.btn-encriptar:hover {
    margin: 0.03%;
    width: 24.5%;
    padding: 1.8%;
    color: #f7e2f4;
    background-color: #c77ef1;

}
.encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.mensaje-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensaje-encriptado h2{
    width: 60%;
    font-family: "Iner";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color:#343a40 ;
}
.mensaje-encriptado p{
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #343a40;
}
.encriptado img{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}
/* Responsive design */
@media (max-width: 57.5em) {
    .container {
        display: flex;
        flex-direction: row;
    }
    .encriptar {
        width: 100%
    }
    .texto{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
    .terminos{
        width: 80%;
        left: 10%;
        top: 65%;
    }
    .terminos p{
        font-size: 16px;
    }
    .botones{
        width: 80%;
        left: 10%;
        top: 70%;
    }
    .btn-encriptar,
    .btn-desencriptar{
        width: 48%;
        border-radius: 16px;
    }
    .btn-desencriptar:hover,
    .btn-encriptar:hover{
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }
    .encriptado{
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }
    .mensaje-encriptado{
        width: 100%;
        top: 5%;
    }
    .encriptado img{
        top: 0;
        display: none;
        visibility: hidden;
    }
}
footer{
    color: #fadaf5;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: #c77ef1;
}

.contenedor{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contenedor a{
    font-size: 30px;
    transition: all ease 300ms;
}

.contenedor a:hover{
    transform: scale(1.2);
}